debug/sprototool.tlog/sprototool.lastbuildstate
debug/sprototool.log
debug/sprototool.Build.CppClean.log
debug/sproto_vc120.pdb
debug/sproto_vc120.idb
debug/sproto.tlog/sproto.lastbuildstate
debug/sproto.tlog/link.write.1.tlog
debug/sproto.tlog/link.read.1.tlog
debug/sproto.tlog/link.command.1.tlog
debug/sproto.tlog/cl.command.1.tlog
debug/sproto.tlog/CL.write.1.tlog
debug/sproto.tlog/CL.read.1.tlog
debug/sproto.obj
debug/sproto.log
debug/sproto.Build.CppClean.log
debug/luafilesystem.tlog/luafilesystem.write.1u.tlog
debug/luafilesystem.tlog/luafilesystem.lastbuildstate
debug/luafilesystem.tlog/link.write.1.tlog
debug/luafilesystem.tlog/link.read.1.tlog
debug/luafilesystem.tlog/link.command.1.tlog
debug/luafilesystem.tlog/cl.command.1.tlog
debug/luafilesystem.tlog/CL.write.1.tlog
debug/luafilesystem.tlog/CL.read.1.tlog
debug/luafilesystem.log
debug/lua53.tlog/lua53.write.1u.tlog
debug/lua53.tlog/lua53.lastbuildstate
debug/lua53.tlog/link.write.1.tlog
debug/lua53.tlog/link.read.1.tlog
debug/lua53.tlog/link.command.1.tlog
debug/lua53.tlog/cl.command.1.tlog
debug/lua53.tlog/CL.write.1.tlog
debug/lua53.tlog/CL.read.1.tlog
debug/lua53.log
debug/lua53.Build.CppClean.log
debug/lsproto.obj
debug/lpvm.obj
debug/lptree.obj
debug/lpprint.obj
debug/lpeg_vc120.pdb
debug/lpeg_vc120.idb
debug/lpeg.tlog/lpeg.lastbuildstate
debug/lpeg.tlog/link.write.1.tlog
debug/lpeg.tlog/link.read.1.tlog
debug/lpeg.tlog/link.command.1.tlog
debug/lpeg.tlog/cl.command.1.tlog
debug/lpeg.tlog/CL.write.1.tlog
debug/lpeg.tlog/CL.read.1.tlog
debug/lpeg.log
debug/lpeg.Build.CppClean.log
debug/lpcode.obj
debug/lpcap.obj
debug/lfs_vc120.pdb
debug/lfs_vc120.idb
debug/lfs.obj
debug/lfs.Build.CppClean.log
sprototool.sdf
*.pdb
*.obj
*.tlog
*.idb
